name: CD

on:
  push:
    branches: [ main ]

jobs:
  docker-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Set lower case owner name
        run: |
          echo "OWNER_LC=${OWNER,,}" >> $GITHUB_ENV
        env:
          OWNER: ${{ github.repository_owner }}

      - uses: actions/checkout@v4

      - name: Login to GHCR
        run: echo "${{ github.token }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Create timestamp
        run: echo "TS=$(date +%Y-%m-%d-%H-%M-%S)" >> $GITHUB_ENV
  
      - name: Build and push
        run: |
          IMAGE=ghcr.io/$OWNER_LC/python-app
          docker build -t $IMAGE:latest .
          
          docker tag $IMAGE:latest $IMAGE:${{ github.sha }}
          docker tag $IMAGE:latest $IMAGE:${{ env.TS }}
          
          docker push $IMAGE:latest
          docker push $IMAGE:${{ github.sha }}
          docker push $IMAGE:${{ env.TS }}
